workflows/01-lead-intelligence.json
{
  "name": "Growth Swarm — Lead Intelligence",
  "tags": ["growth-swarm", "lead-intelligence", "research"],
  "nodes": [
    {
      "id": "li-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "li-setup-note",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [250, 100],
      "parameters": {
        "content": "## Lead Intelligence Sub-Workflow\n\n**Required Credentials:**\n- `{{ANTHROPIC_CRED}}` — Anthropic API key (Claude Sonnet)\n- `{{SUPABASE_CRED}}` — Supabase project URL + service role key\n- `{{HUBSPOT_CRED}}` — HubSpot private app token\n\n**Input (from Supervisor):**\nExpects a JSON object with at minimum:\n```json\n{\n  \"lead_id\": \"string\",\n  \"email\": \"string\",\n  \"website_url\": \"string | null\",\n  \"hubspot_contact_id\": \"string\"\n}\n```\n\n**Output:** Enriched lead JSON returned to supervisor.",
        "height": 280,
        "width": 600,
        "color": 5
      }
    },
    {
      "id": "li-check-url",
      "name": "IF Website URL Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "url-check",
              "leftValue": "={{ $json.website_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "li-fetch-website",
      "name": "Fetch Company Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 200],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.website_url }}",
        "options": {
          "timeout": 15000,
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "responseFormat": "text",
              "fullResponse": false
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (compatible; SwarmBot/1.0; +https://example.com)"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml"
            }
          ]
        }
      },
      "continueOnFail": true
    },
    {
      "id": "li-truncate-html",
      "name": "Truncate HTML for LLM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 380],
      "parameters": {
        "jsCode": "// When no website URL is present, pass through lead data\n// with placeholder HTML so the AI node still runs\nconst lead = $('Execute Workflow Trigger').first().json;\n\nreturn [\n  {\n    json: {\n      ...lead,\n      website_html: '[Keine Website-URL angegeben. Fehlende Daten bitte manuell ergänzen.]',\n      website_fetch_skipped: true\n    }\n  }\n];"
      }
    },
    {
      "id": "li-prepare-html",
      "name": "Prepare HTML for Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 200],
      "parameters": {
        "jsCode": "// Merge fetched HTML with original lead data.\n// Truncate HTML to ~12,000 chars to stay within token budget.\n// Strip script/style tags to reduce noise.\nconst lead = $('Execute Workflow Trigger').first().json;\nconst fetchResult = $input.first();\n\nlet rawHtml = '';\nlet fetchError = null;\n\n// httpRequest returns the body directly as a string when responseFormat is 'text'\nif (fetchResult.json && typeof fetchResult.json === 'string') {\n  rawHtml = fetchResult.json;\n} else if (fetchResult.json && fetchResult.json.body) {\n  rawHtml = fetchResult.json.body;\n} else if (fetchResult.error) {\n  fetchError = fetchResult.error.message || 'HTTP fetch failed';\n}\n\n// Strip script + style blocks\nconst cleanHtml = rawHtml\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .slice(0, 12000);\n\nreturn [\n  {\n    json: {\n      ...lead,\n      website_html: fetchError ? `[Fehler beim Abrufen der Website: ${fetchError}]` : cleanHtml,\n      website_fetch_error: fetchError\n    }\n  }\n];"
      }
    },
    {
      "id": "li-merge-paths",
      "name": "Merge Both Paths",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1250, 300],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "li-extraction-agent",
      "name": "AI Extraction Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [1500, 300],
      "parameters": {
        "options": {
          "systemMessage": "Du bist ein spezialisierter Datenextraktions-Agent für Unternehmen. Deine Aufgabe ist es, strukturierte Informationen aus dem HTML-Inhalt einer Unternehmens-Website zu extrahieren.\n\n<aufgabe>\nAnalysiere den bereitgestellten Website-HTML und den Lead-Datensatz. Extrahiere alle verfügbaren Informationen und gib sie als JSON-Objekt zurück.\n</aufgabe>\n\n<ausgabe_format>\nDu MUSST exakt dieses JSON-Format zurückgeben — keine Markdown-Codeblöcke, kein Fließtext, nur reines JSON:\n\n{\n  \"company_name\": \"Name des Unternehmens oder null\",\n  \"company_type\": \"Kleinunternehmen | Mittelständisches Unternehmen | Enterprise | Großunternehmen | null\",\n  \"team_size\": \"Geschätzte Anzahl Mitarbeiter als Zahl oder null\",\n  \"services\": [\"Liste der angebotenen Dienstleistungen und Schwerpunkte\"],\n  \"current_software\": \"Name der erkennbaren Bestandssoftware/CRM oder null\",\n  \"has_online_sales\": true,\n  \"website_quality\": \"niedrig | mittel | hoch\",\n  \"pain_indicators\": [\"Liste potenzieller Schmerzpunkte, z.B. kein digitaler Vertriebsprozess, veraltete Website, kein digitales Intake-Formular\"],\n  \"decision_maker\": \"Name des Geschäftsführers / Ansprechpartners oder null\",\n  \"languages_offered\": [\"Sprachen, die auf der Website angeboten werden\"],\n  \"has_proposal_tracking\": false,\n  \"has_digital_intake\": false,\n  \"social_media_present\": false,\n  \"extraction_confidence\": \"niedrig | mittel | hoch\",\n  \"extraction_notes\": \"Kurze Anmerkungen zur Datenqualität oder fehlenden Informationen\"\n}\n</ausgabe_format>\n\n<regeln>\n- Setze Felder auf null, wenn die Information nicht im HTML vorhanden ist — erfinde KEINE Daten\n- `website_quality` basiert auf Design, Mobilfreundlichkeit und Vollständigkeit\n- `pain_indicators` sind konkrete Hinweise, dass die Lösung helfen kann (kein digitaler Angebotsprozess, manuelle Terminbuchung, keine Follow-up-Erinnerungen)\n- `extraction_confidence` ist niedrig bei Fetch-Fehlern, hoch bei vollständigem HTML\n- Antworte ausschließlich auf Deutsch, außer bei Eigennamen und Produktnamen\n- Rückgabe ist IMMER reines JSON, niemals Erklärungstext davor oder danach\n</regeln>"
        },
        "promptType": "define",
        "text": "=Analysiere die folgenden Daten und extrahiere strukturierte Unternehmens-Informationen.\n\n## Lead-Datensatz\n```json\n{{ JSON.stringify({ lead_id: $json.lead_id, email: $json.email, first_name: $json.first_name, last_name: $json.last_name, company: $json.company, phone: $json.phone, website_url: $json.website_url, source: $json.source }, null, 2) }}\n```\n\n## Website HTML (bereinigt, max. 12.000 Zeichen)\n```\n{{ $json.website_html }}\n```\n\nGib ausschließlich das JSON-Objekt zurück."
      },
      "credentials": {
        "anthropicApi": {
          "id": "{{ANTHROPIC_CRED}}",
          "name": "{{ANTHROPIC_CRED}}"
        }
      }
    },
    {
      "id": "li-claude-model",
      "name": "Claude Sonnet Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [1500, 500],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "claude-sonnet-4-5"
        },
        "options": {
          "maxTokens": 1024,
          "temperature": 0
        }
      },
      "credentials": {
        "anthropicApi": {
          "id": "{{ANTHROPIC_CRED}}",
          "name": "{{ANTHROPIC_CRED}}"
        }
      }
    },
    {
      "id": "li-parse-agent-output",
      "name": "Parse Agent Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 300],
      "parameters": {
        "jsCode": "// Parse the AI agent's JSON output and merge with original lead data.\n// The agent should return pure JSON. Handle edge cases where it wraps in markdown.\nconst lead = $input.first().json;\nconst agentOutput = lead.output || '';\n\nlet extracted = {};\nlet parseError = null;\n\ntry {\n  // Strip markdown code fences if present\n  const cleaned = agentOutput\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n\n  extracted = JSON.parse(cleaned);\n} catch (err) {\n  parseError = `JSON parse failed: ${err.message}`;\n  // Attempt a more aggressive extraction of JSON object\n  const match = agentOutput.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try {\n      extracted = JSON.parse(match[0]);\n      parseError = null;\n    } catch (innerErr) {\n      parseError = `Fallback parse also failed: ${innerErr.message}`;\n    }\n  }\n}\n\nconst enrichedLead = {\n  // Original lead fields\n  lead_id: lead.lead_id,\n  email: lead.email,\n  first_name: lead.first_name,\n  last_name: lead.last_name,\n  company: lead.company,\n  phone: lead.phone,\n  website_url: lead.website_url,\n  source: lead.source,\n  hubspot_contact_id: lead.hubspot_contact_id,\n  created_at: lead.created_at || new Date().toISOString(),\n\n  // Enriched fields from AI extraction\n  ...extracted,\n\n  // Metadata\n  enrichment_timestamp: new Date().toISOString(),\n  enrichment_source: 'lead-intelligence-v1',\n  enrichment_parse_error: parseError,\n  website_fetch_error: lead.website_fetch_error || null,\n  website_fetch_skipped: lead.website_fetch_skipped || false\n};\n\nreturn [{ json: enrichedLead }];"
      }
    },
    {
      "id": "li-supabase-insert",
      "name": "Store Enrichment in Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [2000, 200],
      "parameters": {
        "operation": "create",
        "tableId": "lead_memory",
        "dataToSend": "defineBelow",
        "fieldsToSend": {
          "fieldValues": [
            {
              "fieldId": "lead_id",
              "fieldValue": "={{ $json.lead_id }}"
            },
            {
              "fieldId": "memory_type",
              "fieldValue": "enrichment"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ JSON.stringify($json) }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "lead-intelligence-v1"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.enrichment_timestamp }}"
            }
          ]
        }
      },
      "credentials": {
        "supabaseApi": {
          "id": "{{SUPABASE_CRED}}",
          "name": "{{SUPABASE_CRED}}"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "li-hubspot-update",
      "name": "Update HubSpot Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [2000, 400],
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "contactId": "={{ $json.hubspot_contact_id }}",
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "swarm_company_name",
                "value": "={{ $json.company_name || '' }}"
              },
              {
                "property": "swarm_company_type",
                "value": "={{ $json.company_type || '' }}"
              },
              {
                "property": "swarm_team_size",
                "value": "={{ $json.team_size || '' }}"
              },
              {
                "property": "swarm_services",
                "value": "={{ ($json.services || []).join(';') }}"
              },
              {
                "property": "swarm_current_software",
                "value": "={{ $json.current_software || '' }}"
              },
              {
                "property": "swarm_has_online_sales",
                "value": "={{ $json.has_online_sales ? 'true' : 'false' }}"
              },
              {
                "property": "swarm_website_quality",
                "value": "={{ $json.website_quality || '' }}"
              },
              {
                "property": "swarm_pain_indicators",
                "value": "={{ ($json.pain_indicators || []).join(';') }}"
              },
              {
                "property": "swarm_enrichment_timestamp",
                "value": "={{ $json.enrichment_timestamp }}"
              },
              {
                "property": "swarm_extraction_confidence",
                "value": "={{ $json.extraction_confidence || '' }}"
              }
            ]
          }
        }
      },
      "credentials": {
        "hubspotAppToken": {
          "id": "{{HUBSPOT_CRED}}",
          "name": "{{HUBSPOT_CRED}}"
        }
      },
      "continueOnFail": true
    },
    {
      "id": "li-aggregate-results",
      "name": "Aggregate CRM Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [2250, 300],
      "parameters": {
        "mode": "passThrough",
        "output": "input1"
      }
    },
    {
      "id": "li-return",
      "name": "Return Enriched Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2500, 300],
      "parameters": {
        "mode": "manual",
        "includeOtherFields": false,
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "lead_id",
              "value": "={{ $('Parse Agent Output').first().json.lead_id }}",
              "type": "string"
            },
            {
              "id": "assign-2",
              "name": "email",
              "value": "={{ $('Parse Agent Output').first().json.email }}",
              "type": "string"
            },
            {
              "id": "assign-3",
              "name": "first_name",
              "value": "={{ $('Parse Agent Output').first().json.first_name }}",
              "type": "string"
            },
            {
              "id": "assign-4",
              "name": "last_name",
              "value": "={{ $('Parse Agent Output').first().json.last_name }}",
              "type": "string"
            },
            {
              "id": "assign-5",
              "name": "company",
              "value": "={{ $('Parse Agent Output').first().json.company }}",
              "type": "string"
            },
            {
              "id": "assign-6",
              "name": "phone",
              "value": "={{ $('Parse Agent Output').first().json.phone }}",
              "type": "string"
            },
            {
              "id": "assign-7",
              "name": "website_url",
              "value": "={{ $('Parse Agent Output').first().json.website_url }}",
              "type": "string"
            },
            {
              "id": "assign-8",
              "name": "source",
              "value": "={{ $('Parse Agent Output').first().json.source }}",
              "type": "string"
            },
            {
              "id": "assign-9",
              "name": "hubspot_contact_id",
              "value": "={{ $('Parse Agent Output').first().json.hubspot_contact_id }}",
              "type": "string"
            },
            {
              "id": "assign-10",
              "name": "company_name",
              "value": "={{ $('Parse Agent Output').first().json.company_name }}",
              "type": "string"
            },
            {
              "id": "assign-11",
              "name": "company_type",
              "value": "={{ $('Parse Agent Output').first().json.company_type }}",
              "type": "string"
            },
            {
              "id": "assign-12",
              "name": "team_size",
              "value": "={{ $('Parse Agent Output').first().json.team_size }}",
              "type": "number"
            },
            {
              "id": "assign-13",
              "name": "services",
              "value": "={{ $('Parse Agent Output').first().json.services || [] }}",
              "type": "array"
            },
            {
              "id": "assign-14",
              "name": "current_software",
              "value": "={{ $('Parse Agent Output').first().json.current_software }}",
              "type": "string"
            },
            {
              "id": "assign-15",
              "name": "has_online_sales",
              "value": "={{ $('Parse Agent Output').first().json.has_online_sales || false }}",
              "type": "boolean"
            },
            {
              "id": "assign-16",
              "name": "website_quality",
              "value": "={{ $('Parse Agent Output').first().json.website_quality }}",
              "type": "string"
            },
            {
              "id": "assign-17",
              "name": "pain_indicators",
              "value": "={{ $('Parse Agent Output').first().json.pain_indicators || [] }}",
              "type": "array"
            },
            {
              "id": "assign-18",
              "name": "decision_maker",
              "value": "={{ $('Parse Agent Output').first().json.decision_maker }}",
              "type": "string"
            },
            {
              "id": "assign-19",
              "name": "languages_offered",
              "value": "={{ $('Parse Agent Output').first().json.languages_offered || [] }}",
              "type": "array"
            },
            {
              "id": "assign-20",
              "name": "has_proposal_tracking",
              "value": "={{ $('Parse Agent Output').first().json.has_proposal_tracking || false }}",
              "type": "boolean"
            },
            {
              "id": "assign-21",
              "name": "has_digital_intake",
              "value": "={{ $('Parse Agent Output').first().json.has_digital_intake || false }}",
              "type": "boolean"
            },
            {
              "id": "assign-22",
              "name": "social_media_present",
              "value": "={{ $('Parse Agent Output').first().json.social_media_present || false }}",
              "type": "boolean"
            },
            {
              "id": "assign-23",
              "name": "extraction_confidence",
              "value": "={{ $('Parse Agent Output').first().json.extraction_confidence }}",
              "type": "string"
            },
            {
              "id": "assign-24",
              "name": "extraction_notes",
              "value": "={{ $('Parse Agent Output').first().json.extraction_notes }}",
              "type": "string"
            },
            {
              "id": "assign-25",
              "name": "enrichment_timestamp",
              "value": "={{ $('Parse Agent Output').first().json.enrichment_timestamp }}",
              "type": "string"
            },
            {
              "id": "assign-26",
              "name": "enrichment_source",
              "value": "={{ $('Parse Agent Output').first().json.enrichment_source }}",
              "type": "string"
            },
            {
              "id": "assign-27",
              "name": "website_fetch_error",
              "value": "={{ $('Parse Agent Output').first().json.website_fetch_error }}",
              "type": "string"
            },
            {
              "id": "assign-28",
              "name": "website_fetch_skipped",
              "value": "={{ $('Parse Agent Output').first().json.website_fetch_skipped || false }}",
              "type": "boolean"
            },
            {
              "id": "assign-29",
              "name": "enrichment_parse_error",
              "value": "={{ $('Parse Agent Output').first().json.enrichment_parse_error }}",
              "type": "string"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "IF Website URL Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Website URL Exists": {
      "main": [
        [
          {
            "node": "Fetch Company Website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Truncate HTML for LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Company Website": {
      "main": [
        [
          {
            "node": "Prepare HTML for Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Truncate HTML for LLM": {
      "main": [
        [
          {
            "node": "Merge Both Paths",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Prepare HTML for Agent": {
      "main": [
        [
          {
            "node": "Merge Both Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Both Paths": {
      "main": [
        [
          {
            "node": "AI Extraction Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Sonnet Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Extraction Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Extraction Agent": {
      "main": [
        [
          {
            "node": "Parse Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Output": {
      "main": [
        [
          {
            "node": "Store Enrichment in Supabase",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Enrichment in Supabase": {
      "main": [
        [
          {
            "node": "Aggregate CRM Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update HubSpot Contact": {
      "main": [
        [
          {
            "node": "Aggregate CRM Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate CRM Results": {
      "main": [
        [
          {
            "node": "Return Enriched Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "pinData": {}
}